<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5 class="card-title">Meta Sayfa Güncelle</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="updatePageForm">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Guid :</span>
                                    </div>
                                    <input formControlName="id" [(ngModel)]="pageModel.id" disabled="true" type="text"
                                        class="form-control" />
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Etiket Adı :</span>
                                    </div>
                                    <input formControlName="name" [(ngModel)]="pageModel.name" type="text"
                                        class="form-control" />
                                </div>
                                <button class="btn btn-warning" (click)="update()">Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>