<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5 class="card-title">Footer Güncelle</h5>
                </div>
                <div class="card-body">

                    <form [formGroup]="footerUpdateForm">
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Guid :</span>
                                </div>
                                <input formControlName="id" [(ngModel)]="footerModel.id" disabled="true" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Site Adı :</span>
                                </div>
                                <input formControlName="name" [(ngModel)]="footerModel.name" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Adres :</span>
                                </div>
                                <input formControlName="adress" [(ngModel)]="footerModel.adress" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Mail Adresi :</span>
                                </div>
                                <input formControlName="mail"  [(ngModel)]="footerModel.mail" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Meta Seçiniz :</span>
                                </div>
                               <ng-select class="col-lg-7" formControlName="pageId" [(ngModel)]="footerModel.pageId">
                                <ng-option *ngFor="let page of pageModels" [value]="page.id">{{page.name}}</ng-option>
                               </ng-select>
                            </div>



                            <button class="btn btn-warning" (click)="update()">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>