<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5 class="card-title">Referans Ekle</h5>
                </div>
                <div class="card-body">

                    <form [formGroup]="referanceAddForm">
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Başlık :</span>
                                </div>
                                <input formControlName="title" type="text" class="form-control" />
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama :</span>
                                </div>
                                <input formControlName="description" type="text" class="form-control" />
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Logo Link :</span>
                                </div>
                                <input formControlName="logoUri" type="text" class="form-control" />
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Site Link:</span>
                                </div>
                                <input formControlName="siteUri" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Meta Seçiniz :</span>
                                </div>
                               <ng-select class="col-lg-7" formControlName="pageId">
                                <ng-option *ngFor="let page of pageModels" [value]="page.id">{{page.name}}</ng-option>
                               </ng-select>
                            </div>


                            <button class="btn btn-success" (click)="add()">ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>