<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-outline-success" routerLink="add">Resim Kategori Ekle</button>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Uygulama Resim Kategorileri</h4>

                    </div>
                    <div class="card-body">
                        <strong>{{count}} Kayıt Listelendi.</strong>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Oluşturma Tarihi</th>
                                    <th>Kategori Adı</th>
                                    <th>İşlemler</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let imageCategory of imageCategory ">
                                        <td>{{imageCategory.createAt |customDate}}</td>
                                        <td>{{imageCategory.name}}</td>

                                        <td><Button class="btn btn-outline-warning"
                                                routerLink="update/{{imageCategory.id}}">Güncelle</Button> <button
                                                class="btn btn-outline-danger"
                                                (click)="delete(imageCategory.id)">SİL</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>