<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5 class="card-title">Sosyal Medya Link Güncelle</h5>
                </div>
                <div class="card-body">

                    <form [formGroup]="socialUpdateForm">
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Guid :</span>
                                </div>
                                <input formControlName="id" [(ngModel)]="socialModel.id" disabled="true" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Sosyal Medya Adı :</span>
                                </div>
                                <input formControlName="name" [(ngModel)]="socialModel.name" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Sınıf Adı :</span>
                                </div>
                                <input formControlName="className" [(ngModel)]="socialModel.className" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Link :</span>
                                </div>
                                <input formControlName="uri" [(ngModel)]="socialModel.uri" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Footer Seçiniz :</span>
                                </div>
                               <ng-select class="col-lg-6" formControlName="footerId" [(ngModel)]="socialModel.footerId">
                                <ng-option *ngFor="let footer of footerModels" [value]="footer.id">{{footer.name}}</ng-option>
                               </ng-select>
                            </div>
                            



                            <button class="btn btn-warning" (click)="update()">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>