<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5 class="card-title">Ürün Güncelle</h5>
                </div>
                <div class="card-body">

                    <form [formGroup]="productUpdateForm">

                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Guid:</span>
                                </div>
                                <input formControlName="id" type="text" [(ngModel)]="productModel.id"
                                    class="form-control" disabled="true" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Ürün Adı:</span>
                                </div>
                                <input formControlName="name" type="text" [(ngModel)]="name"
                                    [(ngModel)]="productModel.name" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama:</span>
                                </div>
                                <textarea formControlName="description" [(ngModel)]="description"
                                    [(ngModel)]="productModel.description" id="" cols="120" rows="5"></textarea>
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Resim Link :</span>
                                </div>
                                <input formControlName="imgUri" [(ngModel)]="uri" [(ngModel)]="productModel.imgUri"
                                    type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Teknik Döküman Linki
                                        :</span>
                                </div>
                                <input formControlName="techDocumentUri" [(ngModel)]="tecDoc"
                                    [(ngModel)]="productModel.techDocumentUri" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Kullanım Kulavuzu Linki
                                        :</span>
                                </div>
                                <input formControlName="userManualUri" [(ngModel)]="userMan"
                                    [(ngModel)]="productModel.userManualUri" type="text" class="form-control" />
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Ürün Kategorisi :</span>
                                </div>
                                <ng-select class="col-lg-7" formControlName="productCategoryId"
                                    [(ngModel)]="productModel.productCategoryId">
                                    <ng-option *ngFor="let category of productCategories"
                                        [value]="category.id">{{category.name}}</ng-option>
                                </ng-select>
                            </div>

                            <button class="btn btn-warning" (click)="update()">Güncelle</button>
                        </div>

                    </form>
                    <br>
                    <div *ngIf="uri != null" class="col-md-12">
                        <h4 class="text-center">Önizleme</h4>
                        <div class="container">

                            <div class="col-md-12">
                                <div class="card">
                                    <img src="{{uri}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h4 class="card-title">{{name}}</h4>
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                                    data-target="#pills-home" type="button" role="tab"
                                                    aria-controls="pills-home" aria-selected="true">Açıklama</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                                    data-target="#pills-profile" type="button" role="tab"
                                                    aria-controls="pills-profile" aria-selected="false">Kullanım
                                                    Klavuzu</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-contact-tab" data-toggle="pill"
                                                    data-target="#pills-contact" type="button" role="tab"
                                                    aria-controls="pills-contact" aria-selected="false">Teknik
                                                    Dökümanlar</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                                aria-labelledby="pills-home-tab">{{description}}</div>
                                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                                aria-labelledby="pills-profile-tab"><a href="{{userMan}}">{{name}} <br>
                                                    Kullanım Klavuzu</a></div>
                                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                                aria-labelledby="pills-contact-tab"><a href="{{tecDoc}}"></a>{{name}}
                                                <br> Teknik Döküman</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>